<header
  class="w-full flex justify-between items-center px-5 border-b top-0 z-50 bg-white border-b-[#ddd] sticky py-2 shadow-lg"
>
  <div class="flex justify-center items-center w-fit -ml-5">
    <app-icon icon="pi-ethereum" size="2.6" />
    <h2 class="text-2xl font-bold">WorkSync</h2>
  </div>

  @if(isAdmin()){
  <div class="flex gap-5 text-center items-center self-center">
    <a routerLink="/admin" routerLinkActive="text-blue-500 font-semibold">Home</a>
    <a routerLink="/admin/calendar" routerLinkActive="text-blue-500 font-semibold">Calendar</a>
  </div>
  }

  <div class="flex items-center gap-2">
    @if(isAdmin()){
    <app-button (onClick)="handleLeaveRequest()">Register New User</app-button>
    } @else if(!isAdmin() && !isCurrentRouteRequestFrom()){
    <app-button (onClick)="handleLeaveRequest()">New Request</app-button>
    }
    <app-icon icon="pi-sign-out" (onClick)="handleLogout()" />
    <app-avatar userInitials="MD" image="/images/profile-pic.jpg" />
  </div>
</header>
