<header
  class="w-full flex justify-between items-center px-5 border-b top-0 z-50 bg-white border-b-[#ddd] sticky py-2 shadow-lg"
>
  <div class="flex justify-center items-center w-fit -ml-5">
    <app-icon icon="pi-ethereum" size="2.6" />
    <h2 class="text-2xl font-bold">WorkSync</h2>
  </div>

  <div class="flex items-center gap-2">
    @if(!isCurrentRouteRequestFrom()){
    <app-button (onClick)="handleLeaveRequest()">New Request</app-button>
    }
    <app-icon icon="pi-sign-out" (onClick)="handleLogout()" />
    <app-avatar userInitials="MD" image="/images/profile-pic.jpg" />
  </div>
</header>
