<header
  class="w-full flex justify-between items-center px-5 border-b top-0 z-50 bg-white border-b-[#ddd] sticky py-2 shadow-lg"
>
  <div class="flex justify-center items-center w-fit">
    <app-icon icon="pi-ethereum" size="2.6" customStyles="!p-0" />
    <h2 class="text-xl md:text-2xl font-bold">WorkSync</h2>
  </div>

  @if(isAdmin()){
  <div
    class="flex gap-5 text-center items-center self-center absolute left-[50%] -translate-x-[50%]"
  >
    <a
      routerLink="/admin"
      routerLinkActive="text-blue-500 font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/admin/calendar"
      routerLinkActive="text-blue-500 font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      >Calendar</a
    >
  </div>
  } @if(!isCurrentRouteRequestFrom()){
  <div class="items-center gap-4 ml-auto hidden md:flex">
    @if(isAdmin()){
    <app-button (onClick)="isModalOpen.set(true)">Register New User</app-button>
    } @else if(!isAdmin() && !isCurrentRouteRequestFrom()){
    <app-button (onClick)="handleLeaveRequest()">New Request</app-button>
    }
    <app-icon icon="pi-sign-out" (onClick)="handleLogout()" customStyles="!p-0" />
  </div>
  }

  <div class="flex items-center gap-4 md:ml-3">
    @if(isCurrentRouteRequestFrom()){
    <app-icon icon="pi-sign-out" (onClick)="handleLogout()" customStyles="!p-0" />
    }
    <app-avatar userInitials="MD" />
    @if(!isCurrentRouteRequestFrom()){
    <app-icon icon="pi-bars" customStyles="block md:hidden !p-0" (onClick)="handleMenuToggle()" />
    }
  </div>
</header>

<p-dialog
  header="Register New User"
  [draggable]="false"
  [modal]="true"
  [visible]="isModalOpen()"
  (visibleChange)="isModalOpen.set(false)"
  styleClass="!bg-white !text-[#333] !flex !flex-col "
  [style]="{ width: '25rem' }"
>
  <div class="my-4">
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-user" />
        <input
          pInputText
          autocomplete="off"
          pSize="large"
          class="!bg-white !text-[#333] focus:!border-black"
          fluid
        />
      </p-iconfield>
      <label class="!bg-white !text-[#bbb]">Username</label>
    </p-floatlabel>
    <!-- @if (loginForm | errorMessage: 'email'; as error) {
    <p class="text-sm text-red-500">{{ error }}</p>
    } -->
  </div>

  <div class="mb-4">
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-lock" />
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          size="large"
          inputId="password"
          formControlName="password"
          inputStyleClass="!bg-white !outline-red-500 !text-[#333] focus:!border-black"
          fluid
        />
      </p-iconfield>
      <label class="!text-[#bbb] !bg-white">Password</label>
    </p-floatlabel>
    <!-- @if (loginForm | errorMessage: 'password'; as error) {
    <p class="text-sm text-red-500">{{ error }}</p>
    } -->
  </div>

  <div class="mb-4">
    <p-select
      [options]="['Admin', 'User']"
      placeholder="Role"
      size="large"
      class="!bg-white !text-[#333] active:!border-black"
      fluid
    />
  </div>

  <div class="flex justify-end gap-2">
    <app-button variant="secondary" (onClick)="handleModalCancel()">Cancel</app-button>
    <app-button (onClick)="handleUserRegistration()">Save</app-button>
  </div>
</p-dialog>

@if(isMenuOpen()){
<div
  class="fixed z-50 top-[73px] left-0 w-full overflow-hidden bg-white md:hidden flex flex-col p-4 shadow-lg gap-4"
>
  @if(isAdmin()){
  <app-button (onClick)="isModalOpen.set(true)" variant="tertiary">Register New User</app-button>
  } @else if(!isAdmin() && !isCurrentRouteRequestFrom()){
  <app-button (onClick)="handleLeaveRequest()" variant="tertiary">New Request</app-button>
  }

  <app-button variant="tertiary" customStyles="flex items-center gap-3 !mb-4">
    <app-icon icon="pi-sign-out" size="1" (onClick)="handleLogout()" customStyles="!p-0" />
    <p>Log out</p>
  </app-button>
</div>
}
