<button
  class="py-2 rounded-xl font-medium px-4 cursor-pointer disabled:cursor-not-allowed"
  [class]="fullWidth() ? 'w-full' : 'w-auto'"
  [ngClass]="{
    'bg-[#407BFF] border-[#888] active:bg-[#305ec3] text-white
     disabled:bg-[#a3bffa] disabled:border-[#ccc] disabled:text-white': variant() === 'primary',

    'bg-transparent border-[#407BFF] border-2 active:bg-[#ddd] text-[#407BFF]
     disabled:border-[#ccc] disabled:text-[#aaa] disabled:bg-[#f5f5f5]': variant() === 'secondary',

    'bg-transparent border-none active:text-[#305ec3] text-[#407BFF]
     disabled:text-[#aaa]': variant() === 'tertiary'
  }"
  [disabled]="disabled()"
  [type]="type()"
  (click)="hanldeClickEvent()"
>
  <ng-content></ng-content>
</button>
