<div class="px-4 flex justify-between items-center">
  <p class="text-xs md:text-sm">
    <span class="hidden md:inline-block"> Showing 1 to {{ amountOnDisplay() }} of </span
    > {{ totalRecords() }} results
  </p>

  <span class="flex items-center gap-2 md:gap-0">
    <app-icon
      size="1.5"
      icon="pi-angle-left"
      class="mt-2"
      [customStyles]="'!p-0 md:!p-2'"
      (onClick)="prevPage()"
      [isDisabled]="currentPage() === 1"
    ></app-icon>
    @for(page of pagesIndicator(); track $index){
    <app-button
      [variant]="currentPage() === page ? 'primary' : 'tertiary'"
      [customStyles]="'!px-3 !py-1 md:!px-4'"
      (onClick)="goToPage(page)"
      >{{ page }}</app-button
    >
    }
    <app-icon
      size="1.5"
      icon="pi-angle-right"
      class="mt-2"
      (onClick)="nextPage()"
      [customStyles]="'!p-0 md:!p-2'"
      [isDisabled]="currentPage() >= numOfPages()"
    ></app-icon>
  </span>
</div>
