@let isItemsMoreThanAPage = (variant()=== 'pending' && tableData().length > 3) || (variant() ===
'view-all' && tableData().length > 5) || (variant() === 'standard' && tableData().length > 7);

<table class="w-full">
  <caption
    class="text-left px-4 py-3 font-bold text-base md:text-lg rounded-t-lg bg-white"
    [class.text-yellow-500]="variant() === 'pending'"
  >
    <h2>
      {{
        variant() === 'standard'
          ? 'My Leave Requests'
          : variant() === 'pending'
          ? 'Requires Attention'
          : 'All Leave Requests'
      }}
    </h2>

    @if(variant() === 'view-all'){
    <form [formGroup]="searchForm" class="my-2 w-full" (ngSubmit)="searchLeaveByEmployeeName()">
      <p-floatlabel variant="on">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input
            pInputText
            autocomplete="off"
            pSize="small"
            formControlName="query"
            class="!bg-white !text-[#333] focus:!border-black"
            fluid
          />
        </p-iconfield>
        <label class="!bg-white !text-[#ccc]">Search by employee name</label>
      </p-floatlabel>
    </form>
    }
  </caption>
  <thead class="border-l border-r border-gray-200">
    <tr class="border-b border-gray-200 bg-tertiary-black">
      @for (col of headColumns(); track $index) {
      <th
        class="py-3 px-4 font-medium text-gray-700 text-xs md:text-sm"
        [class]="col === 'Actions' && variant() === 'pending' ? 'text-center' : 'text-left'"
        [ngClass]="[
          col === '' && variant() === 'standard' ? 'hidden' : '',
          col === '' && variant() === 'standard' ? 'md:table-cell' : '',
          (col === 'Duration' && variant() === 'view-all') ||
          ((col === 'Duration' || col === 'Status') && variant() === 'pending')
            ? 'hidden'
            : '',
          (col === 'Duration' && variant() === 'view-all') ||
          ((col === 'Duration' || col === 'Status') && variant() === 'pending')
            ? 'lg:table-cell'
            : ''
        ]"
      >
        {{ col }}
      </th>
      }
    </tr>
  </thead>
  <tbody class="bg-white">
    @if (paginatedData().length === 0 && !isLoadingData()) {
    <tr>
      <td [colSpan]="headColumns().length" class="text-center py-8 text-gray-500">
        <app-icon icon="pi-ethereum" size="5" />
        <p class="text-lg my-3">You do not have any leave history</p>
      </td>
    </tr>
    } @else { @if(isLoadingData()){@for (row of skeletonTableRows(); track $index) {
    <tr class="border-b border-gray-200 hover:bg-gray-100 transition-colors animate-pulse">
      @if (variant() === 'standard') {
      <td class="p-4 text-center hidden md:table-cell">
        <div class="bg-gray-200 rounded-full h-6 w-6 mx-auto"></div>
      </td>
      } @else {
      <td class="p-4 text-sm lg:text-base">
        <div class="bg-gray-200 rounded h-6 w-12 md:w-24"></div>
      </td>
      }

      <td class="p-4 text-gray-600 text-xs md:text-sm">
        <div class="bg-gray-200 rounded h-6 w-12 md:w-24"></div>
      </td>

      <td class="p-4 text-gray-600 text-xs md:text-sm">
        <div class="bg-gray-200 rounded h-6 w-12 md:w-24"></div>
      </td>

      <td
        class="p-4 text-gray-600 text-xs md:text-sm"
        [ngClass]="{ 'hidden lg:table-cell': variant() !== 'standard' }"
      >
        <div class="bg-gray-200 rounded h-6 w-12 md:w-16 mx-auto"></div>
      </td>

      <td
        class="capitalize p-2 md:p-4"
        [ngClass]="{ 'hidden lg:table-cell': variant() === 'pending' }"
      >
        <div class="bg-gray-200 rounded h-6 w-12 md:w-20 mx-auto"></div>
      </td>

      @if (variant() === 'pending') {
      <td class="py-4 px-2 relative">
        <div class="flex items-center justify-center gap-2">
          <div class="bg-gray-200 rounded h-6 w-6 lg:hidden"></div>
          <div class="gap-2 hidden lg:flex">
            <div class="bg-gray-200 rounded h-8 w-20"></div>
            <div class="bg-gray-200 rounded h-8 w-20"></div>
          </div>
        </div>
      </td>
      }
    </tr>
    } }@else { @for (leave of paginatedData(); track $index) {

    <tr class="border-gray-200 hover:bg-gray-100 transition-colors" [class.border-b]="!$last">
      @if(variant() === 'standard'){
      <td class="p-4 text-center hidden md:block">
        <app-icon icon="pi-ethereum" size="1.5" />
      </td>
      }@else {
      <td class="p-4 text-sm lg:text-base">{{ leave.user_username }}</td>
      }
      <td class="p-4 text-gray-600 text-xs md:text-sm">
        {{ leave.start_date | date : 'dd MMM, yyyy' }}
      </td>
      <td class="p-4 text-gray-600 text-xs md:text-sm">
        {{ leave.end_date | date : 'dd MMM, yyyy' }}
      </td>
      <td
        class="p-4 text-gray-600 text-xs md:text-sm"
        [ngClass]="{
          'hidden lg:table-cell': variant() !== 'standard'
        }"
      >
        {{ leave.start_date | leaveDuration : leave.end_date }}
      </td>
      <td
        class="capitalize p-2 md:p-4"
        [ngClass]="{
          'hidden lg:table-cell': variant() === 'pending'
        }"
      >
        <p-tag
          [severity]="
            leave.status === 'Approved' ? 'success' : leave.status === 'Pending' ? 'warn' : 'danger'
          "
          [value]="leave.status"
          class="!text-xs md:!text-sm"
        />
      </td>
      @if(variant() === 'pending'){
      <td class="py-4 px-2 relative">
        <app-icon
          icon="pi-ellipsis-v"
          size="1"
          customStyles="!table-cell lg:!hidden"
          (onClick)="toggleLeaveContext($index, $event)"
        />

        @if (openLeaveContextId() === $index){
        <div
          #contextMenu
          class="absolute top-full -left-1/2 text-xs flex-col bg-white w-32 shadow-xl rounded-md z-50 flex lg:hidden"
        >
          <span class="py-4 px-3 border-b border-gray-300"
            >Duration: {{ leave.start_date | leaveDuration : leave.end_date }}</span
          >

          <span class="border-b border-gray-300 text-green-500">
            <button
              class="w-full py-4 px-3 text-left hover:bg-gray-100 hover:text-green-600 cursor-pointer disabled:cursor-not-allowed disabled:text-green-300"
              (click)="handleLeaveRequest(leave.id, 'approve')"
              [disabled]="isResponding()"
            >
              Approve
            </button>
          </span>
          <span class="text-red-500 hover:text-red-400">
            <button
              class="w-full py-4 px-3 text-left hover:bg-gray-100 hover:text-red-600 cursor-pointer disabled:cursor-not-allowed disabled:text-red-300"
              (click)="handleLeaveRequest(leave.id, 'reject')"
              [disabled]="isResponding()"
            >
              Reject
            </button></span
          >
        </div>
        }

        <div class="gap-2 justify-center hidden lg:flex">
          <app-button
            customStyles="bg-green-500 hover:bg-green-600 active:bg-green-700 disabled:!bg-green-300"
            [disabled]="isResponding()"
            (onClick)="handleLeaveRequest(leave.id, 'approve')"
          >
            Approve
          </app-button>
          <app-button
            customStyles="bg-red-500 hover:bg-red-600 active:bg-red-700 disabled:!bg-red-300"
            [disabled]="isResponding()"
            (onClick)="handleLeaveRequest(leave.id, 'reject')"
          >
            Reject
          </app-button>
        </div>
      </td>
      }
    </tr>
    } } } @if(isItemsMoreThanAPage){
    <tr>
      <td
        [colSpan]="headColumns().length"
        class="bg-white rounded-b-lg py-6 border-t border-gray-200"
      >
        <app-pagination
          [totalRecords]="totalRecords()"
          [amountOnDisplay]="amountOnDisplay()"
          (pageChanged)="handlePageChange($event)"
        />
      </td>
    </tr>
    }
  </tbody>
</table>
