@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  color: #222;
}

/* Example for p-dropdown */
.p-dropdown .p-dropdown-label {
  color: green;
  font-size: 160px;
}

/* Example for p-selectButton */
.p-selectbutton .p-highlight {
  background-color: #ffcc00;
  color: #333;
}
