@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  color: #222;
}

.p-togglebutton-checked .p-togglebutton-content {
  @apply !bg-[#407BFF];
}

.p-select-overlay {
  @apply !bg-white;
}

li[role='option'] span {
  @apply !text-[#333];
}

li[role='option'] {
  @apply hover:!bg-gray-300 focus:!bg-gray-700;
}

.p-select {
  @apply !border !border-[#333];
}
