<main class="h-screen w-screen p-3 flex overflow-hidden bg-white">
  <div class="w-full justify-center items-center flex flex-col">
    <form
      class="w-full md:w-3/4 lg:w-2/5 flex flex-col gap-5 mb-6"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col items-center">
        <app-icon icon="pi-ethereum" size="4" />
        <h1 class="text-center text-4xl text-shadow-lg mb-4 font-semibold">WorkSync</h1>
        <p class="text-center text-lg mb-4 font-semibold">Welcome Back</p>
      </div>
      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-envelope" />
            <input
              pInputText
              autocomplete="off"
              pSize="large"
              inputId="username"
              formControlName="username"
              type="username"
              class="!bg-white !text-[#333] focus:!border-black"
              fluid
              [invalid]="loginForm.controls.username.invalid && loginForm.touched"
            />
          </p-iconfield>
          <label class="!bg-white !text-[#ccc]">Username</label>
        </p-floatlabel>
        @if (loginForm | errorMessage: 'username'; as error) {
        <p class="text-sm text-red-500">{{ error }}</p>
        }
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-lock" />
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              size="large"
              inputId="password"
              formControlName="password"
              inputStyleClass="!bg-white !outline-red-500 !text-[#333] focus:!border-black"
              fluid
            />
          </p-iconfield>
          <label class="!text-[#ccc] !bg-white">Password</label>
        </p-floatlabel>
        @if (loginForm | errorMessage: 'password'; as error) {
        <p class="text-sm text-red-500">{{ error }}</p>
        }
      </div>

      <app-button [disabled]="loginForm.invalid" type="submit" [fullWidth]="true" class="mt-5">
        Submit
      </app-button>
      <p class="text-xs md:text-sm text-center">
        Don't have an account? <a class="text-blue-500 font-semibold">Register</a>
      </p>
    </form>
  </div>
</main>
